@page
@using Microsoft.Extensions.Localization
@using IOT.Map.Localization
@model IOT.Map.Web.Pages.Map.IndexModel
@inject IStringLocalizer<MapResource> L
@{
}
<h1>Map</h1>
<p>@L["SamplePageMessage"]</p>
